
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
h1{
    color: aqua;
    font-size: 60px;
    font-family: "Playwrite BE VLG", cursive;
}

p {
    color: blueviolet;
    font-size: 80px;
}